*{
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
}
nav{
    background-color:#000 ;
    color: #fff;
    height:40px;
}

nav #check{
    display: none;
}

nav span.logo{
    font-size: 20px;
    line-height: 40px;
    margin-left:80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    float: right;
    margin-right: 3rem;
}

nav ul li{
    display: inline-block;
    line-height:40px ;
}

nav ul li a{
    text-transform: capitalize;
    padding: 0 1rem;
    font-size: 1rem;
    color: #fff;
    padding: 10px ;

}

label.checkbtn{
    float: right;
    line-height: 40px;
    margin-right: 20px;
    display: none;
}

@media(max-width:550px){
    nav span.logo{
        margin-left: 20px;
    }
}

@media(max-width:500px) {
    label.checkbtn{
        display: block;
    }

    nav ul{
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #343a40;
        
    }

    nav ul li{
        display: block;
        text-align: center;
        font-size: 4rem;
    }

    nav ul li a{
        color: #dc3545;
        display: block;
    }

    nav ul li a:hover{
        text-decoration: underline;
    }

    #check:checked ~ ul{
        display: block;
        
    }
}